.container {
	background-color: black;
	height: 700px;
}

#narrativeBox {
	background-color: black;
	height: 50%;
	width: 100%;
	border: 1px solid white;
	position: relative;
	display: block;
}

#choiceBox {
	background-color: black;
	height: 350px;
	width: 100%;
	position: relative;
	border: 1px solid white;
}

#next {
	position: absolute;
	bottom: 0;
	right: 0;
	display: none;
}

p {
	color: white;
}

#battleDiv {
	background-color: white;
	height: 50%;
	width: 100%;
	border: 1px solid black;
	box-sizing: border-box;
	display: none;
}

#actionDiv {
	background-color: grey;
	height: 50%;
	width: 35%;
	border-right: 1px solid black;
	float: left;
	display: none;
}

#feedDiv {
	background-color: teal;
	height: 50%;
	width: 63%;
	float: right;
	display: none;
}

.battleButton {
	display: inline-block;

}

#buttonDiv {
	width: 50%;
	float: left;
}

#fightMoves {
	list-style: none;
	float: right;
}

#magicMoves {
	list-style: none;
	float: right;
}

#playerImage {
	width: 300px;
}