.container {
	background-color: black;
	height: 700px;
}

#narrativeBox {
	background-color: black;
	height: 50%;
	width: 100%;
	border: 1px solid white;
	position: relative;
	display: block;
}

#choiceBox {
	background-color: black;
	height: 350px;
	width: 100%;
	position: relative;
	border: 1px solid white;
}

#next {
	position: absolute;
	bottom: 0;
	right: 0;
	display: none;
}

p {
	color: white;
}

#battleDiv {
	background-image: url("http://68.media.tumblr.com/f37455b2e9a47692bf6f4811424f271d/tumblr_ne4zbgGFlP1tfnou3o1_1280.png");
	height: 55%;
	width: 100%;
	border: 1px solid black;
	box-sizing: border-box;
	display: none;
	overflow: hidden;
	position: relative;
}

#actionDiv {
	background-color: black;
	height: 45%;
	width: 35%;
	border-right: 1px solid black;
	float: left;
	display: none;
}

#feedDiv {
	background-color: black;
	height: 45%;
	width: 63%;
	float: right;
	display: none;
	overflow: auto;
}

#theFeed {
	color: white;
	list-style: none;
}

.battleButton {
	display: inline-block;
	color: white;
	background-color: rgb(137,7,7);
	margin: 10px 10px;
}

#buttonDiv {
	width: 40%;
	height:80%;
	float: left;
}

.moveLists {
	width: 40%;
	float: right;
}

#fightMoves {
	list-style: none;
	clear: both;
}

.fightMove {
	color: white;
	text-align: center;
	background-color: rgb(137,7,7);
	border-style: solid;
	border-width: 1px;
	border-color: white;
	margin: 5px 20px 0px 0px;
}

#magicMoves {
	list-style: none;
	clear: both;
}

.magicMove {
	color: white;
	text-align: center;
	background-color: rgb(137,7,7);
	border-style: solid;
	border-width: 1px;
	border-color: white;
	margin: 5px 20px 0px 0px;
}

#itemMoves {
	list-style: none;
	clear: both;
}

.itemMove {
	color: white;
	text-align: center;
	background-color: rgb(137,7,7);
	border-style: solid;
	border-width: 1px;
	border-color: white;
	margin: 5px 20px 0px 0px;
}

#playerImage {
	width: 70%;
}

#nextButton {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0px 10px 10px 0px;
	display: none;
}

#playerPosition {
	height: 100%;
	width: 40%;
	margin-top: 85px;
	float: left;
}



#position1 {
	height: 75%;
	width: 20%;
	margin-top: 100px;
	display: inline-block;
	float: right;
}

#position2 {
	height: 75%;
	width: 20%;
	margin-top: 100px;
	display: inline-block;
	float: right;
}

#position3 {
	height: 75%;
	width: 20%;
	margin-top: 100px;
	display: inline-block;
	float: right;
}

#currentActions {
	color: white;
}

#displayBox {
	float: left;
	background: beige;
}

#playerHealthBar {
	margin-left: 40px;
	color: red;
}

.choiceButton {
	margin-left: 20px;
	background-color: rgb(137,7,7);
	color: white;
}

#reset {
	background-color: rgb(137,7,7);
	color: white;
	margin-left: 15px;
}

#nextButton {
	background-color: rgb(137,7,7);
	color: white;
	margin-right: 30px;

}
